<div class='user-box'>
  <img class='user-img' src='{{avatar_url}}' alt='{{company}}' width='300' />
  <h2 class='user-title'>{{login}}</h2>
  <p class='user-info'>{{bio}}</p>
  <p class='user-repository'>{{public_repos}}</p>
  <p class='user-location'>{{location}}</p>
</div>